
.own-pagination strong, .own-pagination a{
    min-width: 25px;
    min-height: 25px;
    display: inline-block;
    border: solid 1px;
    text-align: center;
    margin-left: 2px;
    padding: 2px;
}

.own-category a{
    border: solid 1px;
    text-align: center;
    margin-left: 2px;
    padding: 2px;
}

.navbar.navbar-inverse{
    background: #08088A;
    margin: 0;
}

.own-container{
    padding-top: 60px;
    padding-bottom: 60px;
}

.old-price{
    color: red;
    text-decoration: line-through;  
}